@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="alert alert-warning text-center" role="alert">
        <h3>Welcome to positive stories</h3>
    </div>
</div>
<div class="row stories">
    <div class="col-sm-4">
        <div class="pannel panel-info">
            <div class="panel-heading">
                <h2>
                    Title 1
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    Fate protects fools, little children and ships named Enterprise. You bet I'm agitated! I may be surrounded by insanity, but I am not insane. Smooth as an android's bottom, eh, Data? A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you. They were just sucked into space. Sorry, Data. Then maybe you should consider this: if anything happens to them, Starfleet is going to want a full investigation. This should be interesting.
                </p>
            </div>
            <div class="panel-footer">
                Date: 27/11/2016, Author: John Snow
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="pannel panel-info">
            <div class="panel-heading">
                <h2>
                    Title 1
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    Fate protects fools, little children and ships named Enterprise. You bet I'm agitated! I may be surrounded by insanity, but I am not insane. Smooth as an android's bottom, eh, Data? A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you. They were just sucked into space. Sorry, Data. Then maybe you should consider this: if anything happens to them, Starfleet is going to want a full investigation. This should be interesting.
                </p>
            </div>
            <div class="panel-footer">
                Date: 27/11/2016, Author: John Snow
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="pannel panel-info">
            <div class="panel-heading">
                <h2>
                    Title 1
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    Fate protects fools, little children and ships named Enterprise. You bet I'm agitated! I may be surrounded by insanity, but I am not insane. Smooth as an android's bottom, eh, Data? A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you. They were just sucked into space. Sorry, Data. Then maybe you should consider this: if anything happens to them, Starfleet is going to want a full investigation. This should be interesting.
                </p>
            </div>
            <div class="panel-footer">
                Date: 27/11/2016, Author: John Snow
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="pannel panel-info">
            <div class="panel-heading">
                <h2>
                    Title 1
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    Fate protects fools, little children and ships named Enterprise. You bet I'm agitated! I may be surrounded by insanity, but I am not insane. Smooth as an android's bottom, eh, Data? A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you. They were just sucked into space. Sorry, Data. Then maybe you should consider this: if anything happens to them, Starfleet is going to want a full investigation. This should be interesting.
                </p>
            </div>
            <div class="panel-footer">
                Date: 27/11/2016, Author: John Snow
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="pannel panel-info">
            <div class="panel-heading">
                <h2>
                    Title 1
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    Fate protects fools, little children and ships named Enterprise. You bet I'm agitated! I may be surrounded by insanity, but I am not insane. Smooth as an android's bottom, eh, Data? A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you. They were just sucked into space. Sorry, Data. Then maybe you should consider this: if anything happens to them, Starfleet is going to want a full investigation. This should be interesting.
                </p>
            </div>
            <div class="panel-footer">
                Date: 27/11/2016, Author: John Snow
            </div>
        </div>
    </div>

</div>