@model ViewModelBase
<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="~/css/main.css" rel="stylesheet" />
    @RenderSection("header", required: false)
    <environment names="Development">
        <!-- Latest compiled and minified CSS -->

    </environment>
    <!--
        change env variable,
        on linux: export ASPNETCORE_ENVIRONMENT=development
        on windows: setx ASPNETCORE_ENVIRONMENT "Development"
     -->
    <environment names="Production,Staging">

    </environment>
</head>
<body>
    <div class="container-fluid ra-bg-light">
        <header class="row">
            <div class="col">
                <nav class="navbar navbar-light ra-navbar">
                    <span class="navbar-brand text-white" href="#">Ripple | act</span>
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item active mr-3">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Sign up</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </header>
    </div>
<div class="container-fluid">
    
    @if (Model.Errors.Any())
    {
        <div>
            @foreach (var error in Model.Errors)
            {
                <div>@error</div>
            }
        </div>
    }

    @RenderBody()
</div>
    <div class="container-fluid">
        <footer>
            <div id="colophon" class="wrapper clearfix">
                ©2017 RippleAct
            </div>
        </footer>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.8/dist/umd/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>

