@{
    Layout = "_Layout";
}

<div class="container">
    <section class="row mb-5 mt-5">
        <main class="col-sm-8">
            <section class="d-md-none ra-search-share">
                <div class="card mb-4">
                    <div class="card-body">
                        <form class="form-inline">
                            <div class="input-group w-100">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <button class="input-group-addon" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <form class="form-inline">
                            <div class="input-group w-100">
                                <a asp-controller="Story" asp-action="Share" asp-area="Editor">Create & share your story!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            @RenderBody()
        </main>
        <aside role="article" class="col-sm-4">
            <section class="d-none d-md-flex flex-column">
                <div class="card mb-4">
                    <div class="card-body">
                        <form class="form-inline">
                            <div class="input-group w-100">
                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                <button class="input-group-addon" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <form class="form-inline">
                            <div class="input-group w-100">
                                <a asp-controller="Story" asp-action="Share" asp-area="Editor">Create & share your story!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
            <div class="card mb-4">
                <div class="card-body">
                    <section class="side-widget news mb-3">
                        <h5 class="mb-3"><span>News</span></h5>
                        <ul class="info-list">
                            <li><a href="#">Soft kitty warm kitty little ball of furr!</a></li>
                            <li><a href="#">Cat fur is the new black</a></li>
                            <li><a href="#">Poop in a handbag look delicious</a></li>
                        </ul>
                    </section>
                    <section class="side-widget tags mt-5 mb-3 ">
                        <h5 class="mb-3"><span>Tags</span></h5>
                        @(await Component.InvokeAsync<TagCloudViewComponent>())
                    </section>
                </div>
            </div>

            <div class="card">
                <div class="card-body p-0">
                    <section class="side-widget news">
                        <a class="twitter-timeline" href="https://twitter.com/RippleAct?ref_src=twsrc%5Etfw" data-height="500" data-chrome="nofooter noborders">Tweets by RippleAct</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </section>
                </div>
            </div>
        </aside>
    </section>
</div>