@model System.Collections.Generic.List<System.ValueTuple<string,int>>

<ul class="tag-list">
@foreach (var tag in Model)
{
    <li><a class="btn btn-outline-info" href="#">@tag.Item1 (@tag.Item2)</a></li>
}
</ul>
