@model string
@*<h6 class="card-subtitle text-muted">
    Register to like this story!
</h6>*@
<div class="ra-actions">
    <a class="btn-action btn-orange" asp-controller="Stories" asp-action="ThumbsUp" asp-route-id="@Model">
        <i class="fa fa-thumbs-up mr-1" aria-hidden="true"></i>Like
    </a>
</div>