@model string
@*<h6 class="card-subtitle text-muted">
    Register to like this story!
</h6>*@
<a class="btn-sm" asp-controller="Stories" asp-action="ThumbsUp" asp-route-id="@Model">
    <i class="material-icons md-18 align-middle">favorite</i> Thanks
</a>