@using BKind.Web.Features.Stories.Contracts
@model BKind.Web.Features.Stories.Contracts.StoryButtonsViewModel

<div>
   @if(Model.CanVote)
   {
       <a href="#">Vote</a>
   }
   @if(Model.CanUnpublish)
   {
       <a href="#">Unpublish</a>
   }
   @if(Model.CanEdit)
   {
       <a asp-controller="Stories" asp-action="Edit" asp-route-id="@Model.StoryId">Edit</a>
   }
   @if (Model.CanPublish)
   {
       <a asp-controller="Stories" asp-action="Publish" asp-route-id="@Model.StoryId">Publish</a>
   }
</div>