@using BKind.Web.Features.Stories.Contracts
@model BKind.Web.Features.Stories.Contracts.StoryButtonsViewModel

<div class="ra-actions">
   @if(Model.CanVote)
   {
       <a class="btn btn-sm btn-green" asp-controller="Stories" asp-action="ThumbsUp" asp-route-id="@Model.StoryId">Vote</a>
   }
   @if(Model.CanUnpublish)
   {
       <a class="btn btn-sm btn-tomato" asp-controller="Stories" asp-action="Unpublish" asp-route-id="@Model.StoryId">Unpublish</a>
   }
   @if(Model.CanEdit)
   {
       <a class="btn btn-sm btn-gray" asp-controller="Stories" asp-action="Edit" asp-route-id="@Model.StoryId">Edit</a>
   }
   @if (Model.CanPublish)
   {
       <a  class="btn btn-sm btn-blue"asp-controller="Stories" asp-action="Publish" asp-route-id="@Model.StoryId">Publish</a>
   }
</div>