@import "../_variables.scss";

// Navigation
//...................................
.ra-bg-light {
    background-color: white;
    box-shadow: $box-shadow-default;
}

.navbar-light .navbar-brand {
    color: $blue-light;
    font-family: $font-logo;
    font-size: 1.75rem;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    margin: 0;

    &:hover {
        color: $blue-light-10;
    }
}

.navbar-light.ra-navbar .navbar-nav .active > .nav-link,
.navbar-light.ra-navbar .navbar-nav .nav-link.active {
    color: $font-color;
}

.navbar-light.ra-navbar .navbar-nav .active > .nav-link,
.navbar-light.ra-navbar .navbar-nav .nav-link.active,
.navbar-light.ra-navbar .navbar-nav .nav-link {
    color: $font-color;
}

.navbar-light.ra-navbar .navbar-nav li.active a,
.navbar-light.ra-navbar .navbar-nav li:hover a {
    border-bottom: 2px solid $font-color;
}

.nav-link {
    padding: 0.5rem 1rem 0;
}

.ra-navbar {
    cursor: pointer;

    .ra-nav-profile {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            line-height: 30px;
        }
    }
}
