@model IEnumerable<Story>

@foreach (var story in Model)
{
    <div class="col-sm-4">
        <div class="pannel panel-info">
            <div class="panel-heading">
                <h2>
                    @story.Title
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    @story.Content
                </p>
            </div>
            <div class="panel-footer">
                Date: @story.Created, Author: John Snow
            </div>
        </div>
    </div>
}

