@model StoryListViewModel

@foreach (var story in Model.Stories)
{
    <div class="col-sm-4">
        <div class="pannel panel-info">
            <div class="panel-heading">
                <h2>
                    @story.Title
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    @story.Content
                </p>
            </div>
            <div class="panel-footer">
                Date: @story.Created, Author: John Snow<br/>
                @await Component.InvokeAsync("StoryButtons", new { story = story, userWithRoles = Model.UserWithRoles })
            </div>
        </div>
    </div>
}

