@model BKind.Web.Features.Stories.Contracts.StoryListViewModel

@foreach (var story in Model.Stories)
{
    <div class="col mb-5">
        <div class="card card-box">
            <div class="card-body">
                <h2 class="card-title">@story.Title</h2>
                <h6 class="card-subtitle mb-2 text-muted">@story.Status.ToString()</h6>
                <p class="card-text">
                    @story.Content.Substring(0,300)...
                </p>
                <div class="panel-footer">
                    Date: @story.Created.ToString("dd/MM/yyyy"), Author: John Snow<br />
                    @await Component.InvokeAsync("StoryButtons", new { story = story, userWithRoles = Model.UserWithRoles })
                </div>
            </div>
        </div>
    </div>
}

