
@import "variables";

// Typography
//...................................

html, body {
    background-color: #f7f7f7;
    color: $font-color;
    font-family: $font-base;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}


// Navigation
//...................................
.ra-bg-light {
    background-color: $brand-primary;
    opacity: 0.8;
}

.navbar-brand {
    font-family: $font-logo;
}

.navbar-light.ra-navbar .navbar-nav .active > .nav-link,
.navbar-light.ra-navbar .navbar-nav .nav-link.active {
    color: white;
}

.navbar-light.ra-navbar .navbar-nav .active > .nav-link,
.navbar-light.ra-navbar .navbar-nav .nav-link.active,
.navbar-light.ra-navbar .navbar-nav .nav-link {
    color: white;
}

.navbar-light.ra-navbar .navbar-nav .active {
    border-bottom: 2px solid white;
}

.nav-link {
    padding: 0.5rem 1rem 0;
}

.ra-navbar {
    cursor: pointer;
}

// STORIES
//...................................
.ra-stories > div {
    flex-direction: column;
    flex: 1;
}

//Widgets
//...................................
.tags-widget {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        float: left;
        margin: 0 10px 10px 0;

        a {
            font-weight: 500;
            font-size: 13px;
            padding: 3px 7px;
            border-radius:0;
        }
    }
}

// Layout
//...................................
aside[role=main] {
    h5 {
        text-transform: uppercase;
        border-left: 3px solid red;
        padding-left: 10px;
    }
}

// BS Override
//...................................
.card {
    border-radius: 0;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}
