
@import "variables";

// Typography
//...................................

html, body {
    background-color: #f7f7f7;
    color: $font-color;
    font-family: $font-base;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    font-size: 1.75rem;
}

h6 {
    font-size: 14px;
}

a {
    color: $link-color;

    &:hover {
        color: $link-hover-color;
        text-decoration: none;
    }
}

.card-text a {
    color: $font-color;
    border-bottom: 1px solid $link-color;

    &:hover {
        border-bottom: 0;
        color: $link-color;
    }
}

hr {
    margin: 0;
    margin-top: 10px
}

// STORIES
//...................................
.ra-stories > div {
    flex-direction: column;
    flex: 1;
}

//Widgets
//...................................
.info-list,
.tag-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info-list {

    li + li {
        margin-top: 1rem;
    }

    a {
        color: $font-color;

        &:hover {
            color: $blue-light;
        }
    }
}

.tag-list {

    li {
        float: left;
        margin: 0 10px 10px 0;

        a {
            font-weight: 500;
            font-size: 13px;
            padding: 3px 7px;
            border-radius: 0;
        }
    }
}


.ra-actions {
    a {
        font-size: 14px;
        display: inline-block;
        color: #bbb;
        transition: color 0.3s ease;

        + a {
            margin-left: 1rem;
        }

        &.btn-action {

            &.btn-orange:hover {
                color: $orange;
            }

            &.btn-green:hover {
                color: $green;
            }

            &.btn-tomato:hover {
                color: tomato;
            }

            &.btn-gray:hover {
                color: $gray-dark;
            }

            &.btn-blue:hover {
                color: $blue-light;
            }
        }
    }
}

// Layout
//...................................
body.secondary {
    display: flex;
    flex-direction: column;
    background-image: url('../images/free-happy-wallpapers.jpg');
    background-repeat: no-repeat;
    background-position: center 85%;
    background-size: cover;

    nav,
    main,
    footer {
        display: flex;
    }

    main {
        flex: 1;
    }
}

/*.ra-banner {
    height: 500px;
    background-image: url('../images/free-happy-wallpapers.jpg');
    background-repeat: no-repeat;
    background-position: center 85%;
    background-size: 100%;
}*/

aside[role=article] {
    .side-widget h5 {
        text-transform: uppercase;
        border-bottom: 1px solid $gray-medium;

        span {
            border-bottom-width: 3px;
            border-bottom-style: solid;
            margin-bottom: -1px;
            display: table;
        }
    }

    .side-widget.news h5 span {
        border-bottom-color: $green;
    }

    .side-widget.tags h5 span {
        border-bottom-color: $blue-light-20;
    }
}

footer[role=main] {
    background-color: $blue-dark;
    color: white;
    padding: 3rem;
}

// HOMEPAGE
//...................................
.section-title {
    align-items: center;
    border-bottom: 3px solid gray;
    display: flex;
    justify-content: space-between;

    span {
        // border-bottom: 2px solid $blue-light-10;
        display: flex;
        font-weight: bold;
        font-size: 1.5rem;
    }

    a {
        font-size: 14px;
        line-height: 22px;
        padding: 0 10px;
        color: white;
        background-color: gray;
        align-self: flex-end;

        &:hover {
            color: rgba(255,255,255,0.7);
        }
    }
}

.story-group {

    &.orange {

        .section-title {
            border-bottom: 3px solid $link-color;

            a {
                background-color: $link-color;
            }
        }

        .ra-story {
            h2 a {
                color: $link-hover-color;

                &:hover {
                    border-bottom: 1px solid $link-hover-color;
                }
            }
        }
    }

    &.blue {

        .section-title {
            border-bottom: 3px solid $blue-light-20;

            a {
                background-color: $blue-light-20;
            }
        }


        .ra-story {
            h2 a {
                color: $blue-light-20;

                &:hover {
                    border-bottom: 1px solid $blue-light-20;
                }
            }
        }
    }

    &.green {

        .section-title {
            border-bottom: 3px solid $green;

            a {
                background-color: $green;
            }
        }

        .ra-story {
            h2 a {
                color: $green;

                &:hover {
                    border-bottom: 1px solid $green;
                }
            }
        }
    }
}

// BS Override
//...................................
.card {
    border-radius: 0;
    box-shadow: $box-shadow-default;
}

.card-footer {
    padding: 0;
    border-top: 0;
    background-color: transparent;
}

.card.card-box {
    border-radius: 0;
    border: 0;
    box-shadow: none;

    .card-body {
        padding: 1rem 0;
    }

    .card-subtitle {
        font-size: 0.8rem;
    }
}

.btn-outline-info {
    color: $blue-light-20;
    background-color: transparent;
    border-color: $blue-light-20;

    &:hover {
        color: #fff;
        background-color: $blue-light-20;
        border-color: $blue-light-20;
    }
}

.btn,
.btn-sm {
    border-radius: 0;
    cursor: pointer;
}

.btn-info {
    color: #fff;
    background-color: $blue-light-20;
    border-color: $blue-light-20;

    &:hover {
        color: #fff;
        background-color: $blue-light-10;
        border-color: $blue-light-10;
    }
}

// Forms
//...................................
label {
    font-weight: bold;
}

.field-validation-error {
    background-color: rgba(255,0,0,0.4);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    color: white;
    font-size: 12px;
    display: block;
    padding: 3px 5px;
}

.input-validation-error {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}


@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
        box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
        box-shadow: 0 0 0 10px rgba(0,0,0, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
        box-shadow: 0 0 0 0 rgba(0,0,0, 0);
    }
}


// Material icons overrides
// --------------------------------------------

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}
