@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext);
@import url('https://fonts.googleapis.com/css?family=Special+Elite');
// COLORS

$gray-dark: #333;
$gray-medium: #ccc;
$brand-primary: #1976D2;

$font-base: "Roboto", serif;
$font-logo: "Special Elite", cursive;
$font-color: $gray-dark;
