@model BKind.Web.Areas.Editor.Story.Models.AddOrUpdateStoryInputModel

@{ 
    Model.BodyClass = "ra-page-trimmed";
}

<div class="row">
    <div class="col mb-5">
        <h2>Create and share your story</h2>
        <p>Story will be published upon approval!</p>
        <form method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.StoryId)
            <div class="form-group">
                <label>Title:</label>
                <input type="text" asp-for="StoryTitle" class="form-control" maxlength="70" />
                <small class="form-text text-muted">Optional, for longer stories: add your story title. Focus on keeping the title under 70 characters.</small>
                <span asp-validation-for="StoryTitle"></span>
            </div>
            <div class="form-group">
                <label>Content:</label>
                <textarea type="text" asp-for="Content" class="form-control" rows="15"></textarea>
                <small class="form-text text-muted">Add your story.</small>
                <span asp-validation-for="Content"></span>
            </div>
            <div class="form-group">
                <label>Image:</label>
                <input type="file" asp-for="Image" class="form-control" />
                <small class="form-text text-muted">Try to keep image dimensions reasonable, up to 800px in width or height, and size below 200kb. Image will be resized to fit into specific area.</small>
                <span asp-validation-for="Image"></span>
                @if(!string.IsNullOrEmpty(Model.ExistingImage))
                {
                    <div>
                        <a href="@Model.ExistingImage" target="_blank">
                            Existing photo: <br />
                            <img src="@Model.ExistingImage" width="150" />
                        </a>
                    </div>
                }
            </div>
            <div class="form-group">
                <label>Tags:</label>
                <input type="text" class="form-control" asp-for="Tags">
                <small class="form-text text-muted">Story tags, separated by comma.</small>
                <span asp-validation-for="Tags"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit story" />
            <div asp-validation-summary="All"></div>
        </form>
    </div>
</div>
