@using BKind.Web.Areas.Editor.Story
@using BKind.Web.Areas.Editor.Story.Domain
@using BKind.Web.Areas.Editor.Story.Models
@using BKind.Web.Infrastructure.Helpers
@model BKind.Web.Areas.Editor.Story.Models.AddOrUpdateStoryInputModel

@{
    Model.BodyClass = "ra-page-trimmed";
    var isEdit = Model.StoryId.GetValueOrDefault(0) > 0;
}

<div class="row">
    <div class="col mb-5">
        <h2>Create and share your story</h2>
        <p>Story will be published upon approval!</p>
        <form method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.StoryId)
            @Html.ValidationSummary()
            <div class="form-group">
                <label class="mb-0">Title:</label>
                <small class="form-text text-muted mb-1">Optional, for longer stories: add your story title. Focus on keeping the title under 70 characters.</small>
                <input type="text" asp-for="StoryTitle" class="form-control" />
                <span asp-validation-for="StoryTitle"></span>
            </div>
            <div class="form-group">
                <label class="mb-0">Content:</label>
                <small class="form-text text-muted mb-1">Add your story.</small>
                <textarea type="text" asp-for="Content" class="form-control" rows="15"></textarea>
                <span asp-validation-for="Content"></span>
            </div>
            <div class="form-group">
                <label class="mb-0">Tags:</label>
                <small class="form-text text-muted">Story tags, separated by comma.</small>
                <input type="text" class="form-control" asp-for="Tags">
                <span asp-validation-for="Tags"></span>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit story" />
        </form>
    </div>
</div>
