@model string

<div class="ra-profile-menu">
    <button id="ra-profile-btn">
        <span class="fa fa-user-circle-o pr-1"></span>
        @Model
        <span class="fa fa-chevron-down"></span>
        <span class="fa fa-chevron-up"></span>
    </button>
    <ul>
        <li> <a asp-controller="Account" asp-action="Signout">Signout</a></li>
    </ul>
</div>
