@using BKind.Web.Areas.Editor.Pages.Models
@model BKind.Web.Areas.Editor.Pages.Models.PageEditModel

<div class="row">
    <div class="col mb-5">
        <h2 class="mb-3">Edit page @Model.Page?.Title</h2>
        <form method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Page.Id)
            @Html.ValidationSummary()

            <div class="form-group">
                <label asp-for="Page.Title"></label>
                <input type="text" asp-for="Page.Title" class="form-control" />
                <span asp-validation-for="Page.Title"></span>
            </div>

            <div class="form-group">
                <label asp-for="Page.Slug"></label>
                <input type="text" asp-for="Page.Slug" class="form-control" />
                <span asp-validation-for="Page.Slug"></span>
            </div>

            <div class="form-group">
                <label asp-for="Page.Content"></label>
                <textarea asp-for="Page.Content" class="form-control" rows="15"></textarea>
                <span asp-validation-for="Page.Content"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

