@model string

@{
    var isAuthenticated = !String.IsNullOrEmpty(Model);
    var menuClass = isAuthenticated ? "user-menu" : String.Empty;
}

<div class="d-flex justify-content-between ra-menu-wrapper">
    <div class="d-none d-md-flex w-100 justify-content-between">
        <ul class="navbar-nav flex-row ra-nav-menu">
            <li class="nav-item active mr-3">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link" href="~/page/about">About</a>
            </li>
        </ul>

        @if (isAuthenticated)
        {

            <div class="ra-profile-menu">
                <button id="ra-profile-btn">
                    <span class="fa fa-user-circle-o pr-1"></span>
                    @Model
                    <span class="fa fa-chevron-down"></span>
                    <span class="fa fa-chevron-up"></span>
                </button>
                <ul class="dd-caret">
                    <li> <a asp-controller="Account" asp-action="Signout">Signout</a></li>
                </ul>
            </div>

        }
        else
        {
            <ul class="d-flex flex-row ra-nav-profile">
                <li class="ml-3 btn-group">
                    <a class="btn btn-sm btn-info" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="btn btn-sm btn-secondary" asp-controller="Account" asp-action="Register">Sign up</a>
                </li>
            </ul>
        }
    </div>
    <div class="d-flex d-md-none justify-content-end position-relative w-100">
        <button id="ra-menu-toggle" class="ra-menu-toggle">
            menu
        </button>
        <div class="ra-context-menu dd-caret">
            <ul class="@menuClass">
                @if (isAuthenticated)
                {
                    <li>
                        <span>Signed in as <b>@Model</b></span>
                    </li>
                    <li class="separator"></li>
                }
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="~/page/about">About</a>
                </li>
                <li class="separator"></li>
                @if (isAuthenticated)
                {
                    <li> <a asp-controller="Account" asp-action="Signout">Signout</a></li>
                }
                else
                {
                    <li>
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Register">Sign up</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

