
<ul class="d-flex flex-row ra-nav-profile">
    <li class="ml-3 btn-group">
        <a class="btn btn-sm btn-info" asp-controller="Account" asp-action="Login">Login</a>
        <a class="btn btn-sm btn-secondary" asp-controller="Account" asp-action="Register">Sign up</a>
    </li>
</ul>