@model BKind.Web.Features.Account.Contracts.ProfileInputModel
    
@{
    Layout = "_OneColumnLayout";
    Model.BodyClass = "secondary";
}

<div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
    <form method="post">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" type="email" placeholder=""/>
                    <span asp-validation-for="Username"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label asp-for="Nick"></label>
                    <input asp-for="Nick" class="form-control" placeholder=""/>
                    <span asp-validation-for="Nick"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Firstname"></label>
                    <input asp-for="Firstname" class="form-control" placeholder=""/>
                    <span asp-validation-for="Firstname"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Lastname"></label>
                    <input asp-for="Lastname" class="form-control" placeholder=""/>
                    <span asp-validation-for="Lastname"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" placeholder="" type="password"/>
                    <span asp-validation-for="Password"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="PasswordConfirm"></label>
                    <input asp-for="PasswordConfirm" class="form-control" placeholder="" type="password"/>
                    <span asp-validation-for="PasswordConfirm"></span>
                </div>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-secondary">Register</button>
            </div>
            @*@Html.ValidationSummary()*@
        </div>
        
    </form>
</div>