@using BKind.Web.Infrastructure.Helpers
@model BKind.Web.Features.Stories.Contracts.AddOrUpdateStoryInputModel

<div class="col mb-5">
    <h2>Share your story:</h2>
    <form method="post">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.StoryId)
        <div class="form-group row">
            <label>Title:</label>
            <input type="text" asp-for="StoryTitle" class="form-control" maxlength="70" />
            <small class="form-text text-muted">Optional, for longer stories: add your story title. Focus on keeping the title under 70 characters.</small>
            <span asp-validation-for="StoryTitle"></span>
        </div>
        <div class="form-group row">
            <label>Content:</label>
            <textarea type="text" asp-for="Content" class="form-control" rows="15"></textarea>
            <small class="form-text text-muted">Add your story.</small>
            <span asp-validation-for="Content"></span>
        </div>
        <div class="form-group row">
            <label>Tags:</label>
            <input type="text" class="form-control" asp-for="Tags">
            <small class="form-text text-muted">Story tags, separated by comma.</small>
            <span asp-validation-for="Tags"></span>
        </div>
        <input class="btn btn-primary" type="submit" value="Share" />
        @Html.ValidationSummary()
    </form>
</div>