@using BKind.Web.Features.Pages.Models
@model BKind.Web.Features.Pages.Models.PageModel

<div class="row">
    <div class="col">
    <h1>
        @Model.Page.Title
    </h1>
    <div class="mb-4">
        @Html.Raw(Model.Page.Content)
    </div>

    @if (Model.CanEdit)
    {
        <a class="btn btn-primary mb-4" asp-area="Editor" asp-controller="Pages" asp-action="Edit" asp-route-id="@Model.Page.Id">Edit</a>
    }
    </div>
</div>