@using BKind.Web.Features.Pages.Models
@model BKind.Web.Features.Pages.Models.PageModel

<h1>
    @Model.Page.Title
</h1>
<div>
    @Html.Raw(Model.Page.Content)
</div>

@if (Model.CanEdit)
{
    <br/>
    <a asp-area="Editor" asp-controller="Pages" asp-action="Edit" asp-route-id="@Model.Page.Id">Edit</a>
}