@using BKind.Web.Infrastructure.Helpers
@model HomePageViewModel

@{

    Layout = "_TwoColumnLayout";

    Model.BodyClass = "home";
}

@*@if (Model.CanWriteStory)
    {
        @await Component.RenderStories(StoriesDisplayMode.WriteNew)
    }*@
<div class="card mb-4">
    <div class="card-body">
        <section role="group" class="story-group orange">
            <div class="section-title">
                <span>Latest Stories</span>
                <a href="#">more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="row flex-column ra-stories">
                @await Component.RenderStories(Model.DisplayMode)
            </div>
        </section>
        <section role="group" class="story-group blue">
            <div class="section-title">
                <span>Most Popular Stories</span>
                <a href="#">more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="row flex-column ra-stories">
                @await Component.RenderStories(Model.DisplayMode)
            </div>
        </section>
    </div>
</div>
