@using BKind.Web.Infrastructure.Helpers
@model HomePageViewModel

<h2>Stories</h2>
<div class="row stories">
    @if(Model.CanWriteStory)
    {
        @await Component.RenderStories(StoriesDisplayMode.WriteNew)
    }
    @await Component.RenderStories(Model.DisplayMode)
</div>


