@using Microsoft.AspNetCore.Mvc.Rendering
@model HomePageViewModel

@{

    Layout = "_TwoColumnLayout";
    Model.BodyClass = "home";
}

<div class="card mb-4">
    <div class="card-body">
        <section role="group" class="story-group orange">
            <div class="section-title">
                <span>Latest Stories</span>
                <a asp-controller="stories" asp-action="list">more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="row flex-column ra-stories">
                @Html.Partial("StoryFeed", Model.Latest)
            </div>
        </section>
        @if (Model.Recommended.Stories.Any())
        {
            <section role="group" class="story-group blue">
                <div class="section-title">
                    <span>Recommended Stories</span>
                    <a asp-controller="stories" asp-action="list" asp-route-recommended="True">more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="row flex-column ra-stories">
                    @Html.Partial("StoryFeed", Model.Recommended)
                </div>
            </section>
        }
    </div>
</div>
