@using Microsoft.AspNetCore.Mvc.Rendering
@model HomePageViewModel

@{

    Layout = "_TwoColumnLayout";
    Model.BodyClass = "home";
}

<div class="card mb-4">
    <div class="card-body">
        <section role="group" class="story-group orange">
            <div class="section-title">
                <span>Latest Stories</span>
                <a href="#">more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="row flex-column ra-stories">
                @Html.Partial("StoryFeed", Model.Latest)
            </div>
        </section>
        <section role="group" class="story-group blue">
            <div class="section-title">
                <span>Most Popular Stories</span>
                <a href="#">more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="row flex-column ra-stories">
                @Html.Partial("StoryFeed", Model.Best)
            </div>
        </section>
    </div>
</div>
